/* src/components/Gallery.css */
.gallery-container {
    padding: 20px;
    text-align: center;
  }
  
  .search-bar {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
  }
  
  .flower-gallery {
    /* display:grid; */
    flex-wrap: wrap;
    justify-content: center;
  }
  