
.App {
  font-family: 'Arial, sans-serif';
  text-align: center;
  background-color: #292525;
  padding: 20px;
} 

.App-header {
  margin-bottom: 20px;
}

h1 {
  color: cornsilk;
  margin-bottom: 10px;
}





